.profile-card {
  width: 100%;
  max-width: 30rem;
  margin: 2rem auto;
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.profile-header {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.profile-header-left {
  display: flex;
  flex-direction: column;
}

.profile-header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-name-age {
  display: flex;
  align-items: flex-end;
}

.profile-name {
  font-size: 1.5rem; 
  font-weight: bold;
  margin: 0;
}

.profile-age {
  margin-left: 0.5rem;
  font-size: 1.25rem; 
  align-self: center;
}

.profile-location {
  display: flex;
  align-items: center;
  color: #6b7280; 
  font-size: 0.875rem;
}

.location-icon {
  margin-right: 0.25rem;
  font-size: 0.875rem;
}

.profile-bio {
  color: #374151;
}

.profile-interests {
  display: flex;
  flex-direction: column;
}

.interests-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6b7280;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.interests-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.interests-list {
  display: flex;
  gap: 0.5rem;
}

.interest-item {
  background-color: #f3f4f6;
  padding: 0rem 0.7rem; 
  border-radius: 9999px; 
  font-size: 0.875rem;
  white-space: nowrap;
}

.interests-container:hover {
	-ms-overflow-style: auto;
	scrollbar-width: auto;
}
  
.interests-container::-webkit-scrollbar {
	display: none;
}

.interests-container:hover::-webkit-scrollbar {
	display: block;
	height: 8px;
}

.interests-container::-webkit-scrollbar-thumb {
	background-color: #a1a1aa;
	border-radius: 4px;
}

.interests-container::-webkit-scrollbar-track {
	background-color: #f3f4f6;
}

.match-buttons {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 4rem;
}

.match-button {
	background-color: white;
	font-size: 3rem;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.match-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.match-button .pi {
	font-size: 1.3rem;
}

.accept-match-button {
	color: rgb(255, 0, 85);
}

.reject-match-button {
	color: rgb(78, 78, 78);
}