.profile-card-container
{
    padding: 1vw;
    display: flex;
    margin-left: 3vw;
    width: 50%;
}

@media (max-width: 768px)
{
    .profile-card-container
    {
        width: 100%;
        margin-left: 0;
        padding: 2vh;
    }
}