.ProfilePicture-div
{
    width: 40vw;
    height: calc(100vh - 1rem - 100px - 15px);
}

.image-container
{
    height: calc(100vh - 1rem - 100px - 15px);
    overflow: hidden;
}

.title
{
    padding-bottom: 5vh;
}

.p-galleria-item-wrapper
{
    height: 100%;
}

.p-galleria-content
{
    flex-direction: initial;
    height: 100%;
    display: block;
}

.p-galleria-indicators
{
    position: absolute;
    left: calc(30vw - 5vw);
    width: 10vw;
    height: 5vh;
    top: calc(100vh - 1rem - 100px - 15px - 5vh);
}

.profile-div
{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 1rem - 100px - 15px);
}

.pfpLikeIcon
{
    position: absolute;
    top: calc(100vh - 30px - 5vh - 1vh);
    height: 5vh;
    width: 5vw;
    left: 50vw;
    transition: transform 0.1s ease;
    /* fill: aliceblue; */
}

.pfpLikeIcon:hover
{
    cursor: pointer;
}

@media (max-width: 768px)
{
    .ProfilePicture-div
    {
        width: 100vw;
        height: 45vh;
    }
    .image-container
    {
        height: 45vh;
    }
    .p-galleria-indicators
    {
        position: absolute;
        left: calc(50vw - 5vw);
        width: 10vw;
        height: 5vh;
        top: calc(45vh - 100px + 2rem);
    }
    .pfpLikeIcon
    {
        top: calc(45vh + 1rem);
        left: 80vw;
        height: 8vh;
        width: 8vw;
    }
}