.edit-profile-picture-container
{
    width: 30%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f8faf9 0%, #e9f5f0 100%);
}

@media (max-width: 768px)
{
    .edit-profile-picture-container
    {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        box-sizing: border-box;
    }
}