.map-container
{
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  left: 0;
  top: var(--header-height);
}

.grabbable-div
{
    position: absolute;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    left: 0;
    top: 0;
}

.grabbable-div:hover {
    cursor: grab;
}

.grabbable-div::before {
    content: '';
    display: block;
    width: 10vw; /* Adjust width of the bar */
    height: 4px; /* Adjust height of the bar */
    background-color: #ffffff; /* Bar color */
    border-radius: 10px; /* Rounded edges */
    z-index: 21;
}

.map-div
{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    z-index: 20;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.circular-icon .icon-wrapper {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid black; /* Optional: Add a border */
}

.map-date-location-title
{
    position: absolute;
    top: calc(var(--header-height) + 20px);
    z-index: 22;
    color: #385a21c6;
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgb(248, 248, 240);
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #385a21c6;
    animation: grow 7s infinite ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

.map-date-calendar-container
{
    position: absolute;
    width: 40vw;
    height: 100vh;
    left: 100vw;
    top: 0;
    z-index: 25;
    background-color: rgb(255, 255, 255);
    animation: slide-in 0.8s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: -12px 0 24px -8px rgba(0, 0, 0, 0.141); /* left-only shadow */
    align-items: center;
}

.map-date-calendar-container.slide-out-animation
{
    animation: slide-out 0.8s ease-in-out forwards;
}

@keyframes slide-out {
  from {
    left: 60vw;
  }
  to {
    left: 100vw;
  }
}

@keyframes slide-in {
  from {
    left: 100vw;
  }
  to {
    left: 60vw;
  }
}

.map-date-calendar-container:hover
{
    cursor: default;
}

.map-address-title
{
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.p-datepicker table td.p-datepicker-today > span
{
    background-color: aliceblue;
}

.p-datepicker table td > span.p-highlight
{
    background-color: #0f853b53;
}

.map-calendar-close-button
{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 25px;
}

.map-date-button
{
    width: 13vw;
    margin-top: 30px;
    color: #385a21c6;
}