.profile-container
{
    width: 100vw;
    height: calc(100vh - 1rem - 100px - 15px);
    display: flex;
}

@media (max-width: 768px)
{
    .profile-container
    {
        flex-direction: column;
        height: 100vh;
    }
}