.bio-Div
{
    width: 60vw;
    height: auto;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.fixed-div
{
    flex: 0 0 auto;
}

.bio-smallChip .p-chip-text
{
    margin: 0.2vw;
}


.bio-smallChip
{
    background-color: rgba(13, 114, 154, 0.251);
    border-radius: 10px;
    font-size: min(2vh, 1vw);
    padding: 0.2vw;
    margin-right: 0.6vw;
    transition: background-color ease 0.5s;
}

.scrollable-div
{
    flex: 1;            /* Takes remaining space */
    overflow-y: auto;
    max-height: 100vh;   /* Vertical scroll */
}

.highlighted
{
    background-color: rgba(57, 243, 66, 0.573);
}

.Hoverable:hover
{
    cursor: pointer;
    background-color: rgba(68, 182, 74, 0.266);
}


.bio-firstPart
{
    width: 25vw;
    height: auto;
}

.editBio
{
    width: 30vw;
    height: 13vh;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.editBioTitle
{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 2vh;
}

.inputName
{
    width: 20vw;
}

.editBioInterests
{
    width: 60vw;
    min-height: 25vh;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw; 
}

.bio-containerInterest
{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    flex-wrap: wrap;
    gap: 1vw;
    margin-right: 2vw;
    margin-top: 3vh;
    margin-left: 0;
}

.dualBio
{
    display: flex;
    flex-direction: row;
}

.bio-secondPart
{
    width: 30vw;
    height: auto;
}

.inputBio {
    resize: none;
    width: 30vw;
    height: 10vh;
}

.editBio-container
{
    width: 35vw;
    height: 20vh;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.editBioUpload
{
    width: 30vw;
    height: 20vh;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.uploadButton
{
    color: #5f5e5e;
    border: 3px solid rgb(101, 101, 101);
    padding: 1vw;
    font-size: 3.5vh;
    border-radius: 30px;
    transition: color ease 0.4s;
}

.uploadButton:hover
{
    cursor: pointer;
    color: #979595ae;
}

.saveButton
{
    position: absolute;
    width: 5vw;
    height: 5vh;
    background-color: rgb(48, 215, 18);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.107), 0 6px 20px 0 rgba(0, 0, 0, 0.036);
    top: calc(100% - 10vh);
    transition: background-color ease 0.3s transform ease 0.3s;
    left: 27.5vw;
}

.saveButton:hover
{
    background-color: rgb(3, 219, 3);
    transform: scale(1.1);
    cursor: pointer;
}



@media (max-width: 768px)
{
    .bio-Div
    {
        width: 100vw;
    }
    .bio-name
    {
        font-size: min(3vh, 6vw); /* Scales with BOTH height & width */
        margin-right: min(2vw, 1vh); /* Responsive margin */
    }
    .bio-img
    {
        font-size: min(8vw, 3vh);  /* Scales with BOTH width & height */
    }
    .bio-age
    {
        font-size: min(3vh, 8vw);
    }
    .bio-info1
    {
        font-weight: 500;
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
        margin-right: min(3.2vw, 1.6vh); /* Responsive margin */
    }
    .bio-info2
    {
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
    }
    .bio-Text
    {
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
    }
    .p-galleria-item-wrapper
    {
        width: 100vw;
    }
    .bio-container
    {
        margin-top: 2vh;
    }
    .bio-containerInterest
    {
        gap: 4vw;
    }
    .bio-interest
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}