.hobby-selection {
	width: 80%;
}

.hobby-selection-input {
	width: 100%;
}

.your-preferences-panel {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

p{
	margin-top: 0px;
}

.slider-container {
    min-width: 260px;
}

.age-range-display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9rem;
}