.edit-profile-container
{
    display: flex;
    height: calc(100vh - var(--footer-height) - var(--header-height));
}

@media (max-width: 768px) {
    .edit-profile-container {
        flex-direction: column-reverse; /* Reverse order for mobile */
        height: calc(200vh - var(--footer-height) - var(--header-height)); /* Adjust height for mobile */
    }
}