.profile-info-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;;
    border-radius: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10vh;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 7vh;
}

.profileEditButton
{
    font-size: min(2.7vh, 1.5vw);
    background-color: none;
    color: rgba(112, 100, 243, 0.791);
    border: none;
    transition: background-color 0.4s ease-in-out;
    width: min(8vh, 8vw);
    height: min(5vh, 5vw);
    text-align: center;
    border-radius: 10px;
    margin-top: 2vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(100% - 9vw);
    top: calc(var(--header-height) + 2vh);
}

.profileEditButton:hover
{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.067);
}

.profileEditButtonHidden
{
    display: none;
}

.profile-small-chip
{
    background-color: rgba(13, 114, 154, 0.251);
    border-radius: 10px;
    font-size: min(2.8vh, 1.2vw);
    padding: 0.2vw;
}

.profile-small-chip .p-chip-text
{
    margin: 0.2vw;
}

.profile-info-div
{
    display: flex;
    flex-direction: row;
    width: 40%;
}

.profile-info-interests-div
{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vw;
}

.profile-info-title
{
    font-weight: 600;
    font-size: min(2.7vh, 1.5vw); /* Scales with BOTH height & width */
    margin-right: min(1.6vw, 3.2vh); /* Responsive margin */
    display: flex;
    align-items: center;
}

.profile-info-interests-value
{
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.profile-info-value
{
    font-size: min(2.7vh, 1.5vw); /* Scales with BOTH height & width */
}

@media (max-width: 768px)
{
    .profile-info-container
    {
        width: 96vw;
        margin-top: 0;
    }

    .profile-info-title
    {
        font-size: min(2.7vh, 5.4vw);
        margin-right: min(6.4vw, 3.2vh);
    }

    .profile-info-value
    {
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
    }

    .profile-info-div
    {
        width: 90%;
    }

    .profile-small-chip
    {
        font-size: min(2vh, 4vw);
        padding: 0.5vh;
    }
    .profileEditButton
    {
        left: calc(100% - 9vw);
        top: calc(var(--header-height) + 85vh);
        left: calc(100% - 15vw);
        font-size: min(2.7vh, 5.4vw);
    }
}