.bio-Div
{
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-container
{
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.bio-sexualInterest
{   
    margin-top: 1vh;
}

.bio-name
{
    font-size: min(4.5vh, 2.3vw); /* Scales with BOTH height & width */
    margin-right: min(0.3vw, 0.6vh); /* Responsive margin */
    font-weight: 500;
}

.bio-gender {
    width: 5vw;
    height: 4.5vh;
    object-fit: contain;
}

.bio-info2
{
    font-size: min(2.7vh, 1.5vw); /* Scales with BOTH height & width */
}

.bio-age
{
    font-size: min(4.5vh, 2.3vw);
    margin-left: 1vw;
    margin-right: 1vw;
    color: rgba(65, 65, 65, 0.719);
}

.bio-info1
{
    font-weight: 500;
    font-size: min(2.7vh, 1.5vw); /* Scales with BOTH height & width */
    margin-right: min(0.8vw, 1.6vh); /* Responsive margin */
}

.bio-img
{
    font-size: min(2vw, 3vh);  /* Scales with BOTH width & height */
    aspect-ratio: attr(width) / attr(height); /* Native ratio */
    object-fit: contain;   /* Prevents distortion */
    color: rgba(94, 94, 237, 0.491);
}

.bio-Text
{
    font-size: min(2.7vh, 1.5vw); /* Scales with BOTH height & width */
}

.loadingProfile
{
    width: min(10vw, 10vh);
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    object-fit: contain;
}

.profileEditButton
{
    font-size: min(2.7vh, 1.5vw);
    background-color: none;
    color: rgba(112, 100, 243, 0.791);
    border: none;
    transition: background-color 0.4s ease-in-out;
    width: min(8vh, 8vw);
    height: min(5vh, 5vw);
    text-align: center;
    border-radius: 10px;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(40vw - 10vw);
}

.profileEditButton:hover
{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.067);
}

.profileEditButtonHidden
{
    display: none;
}

.bio-containerInterest
{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    flex-wrap: wrap;
    gap: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
}

.bio-interest
{
    background-color: rgba(56, 50, 230, 0.251);
    border-radius: 10px;
}

.bio-smallChip
{
    background-color: rgba(13, 114, 154, 0.251);
    border-radius: 10px;
    font-size: min(2vh, 1vw);
    padding: 0.2vw;
}

.bio-smallChip .p-chip-text
{
    margin: 0.2vw;
}

@media (max-width: 768px)
{
    .bio-Div
    {
        width: 100vw;
    }
    .bio-name
    {
        font-size: min(3vh, 6vw); /* Scales with BOTH height & width */
        margin-right: min(2vw, 1vh); /* Responsive margin */
    }
    .bio-img
    {
        font-size: min(8vw, 3vh);  /* Scales with BOTH width & height */
    }
    .bio-age
    {
        font-size: min(3vh, 8vw);
    }
    .bio-info1
    {
        font-weight: 500;
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
        margin-right: min(3.2vw, 1.6vh); /* Responsive margin */
    }
    .bio-info2
    {
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
    }
    .bio-Text
    {
        font-size: min(2.7vh, 5.4vw); /* Scales with BOTH height & width */
    }
    .p-galleria-item-wrapper
    {
        width: 100vw;
    }
    .bio-container
    {
        margin-top: 2vh;
    }
    .bio-containerInterest
    {
        gap: 4vw;
    }
    .bio-interest
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}